body {
    font-family: 'Source Sans Pro';
    
    background:#1abc9c;
    margin:0;
    color:white;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60% 40%;
    grid-template-areas: 
    "header"
    "body"
    "footer";
}

a {
    text-decoration:none;
    color:black;
    font-size:1.8em;
    font-weight:700;
}
img { 
    width:150px;
    justify-self:center;
}
header {
    
    grid-area: header;
    background:#FFFFFF;
    padding: 1em;
}

.container {
    grid-area: body;

    display:grid;
    grid-template-columns: 66% auto;
    padding: 4em 1em;
}

footer {
    grid-area: footer;

    background:#34495e;
    padding: 6em 0em;

}

ul {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
ul li {
    padding: 2em;
    color:white;
}
ul li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}

@media only screen and (max-width: 500px) {
    
    
    body {
        grid-template-areas: 
            "header"
            "body"
            "footer"
    }

    ul, .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container {
        text-align:center;
    }

}